img {
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 40%;
}

h1, h2, h3{
  font-family: 'Oswald'
}

body {
  background-color: orange;
}

.intro {
  text-align: center;
    border: 3px solid black;
}
