@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru');

img {
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 20%;
   border-radius: 50%;
   !important;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

body {
  background-color: orange;
}


.paragraph{
  border: 4px solid black;
  font-family: 'Kosugi Maru', sans-serif;
}
